/.deps
/.libs
/src/.deps
/CMakeFiles
/DartTestfile.txt
/INSTALL
/Makefile
/Makefile.in
/aclocal.m4
/ar-lib
/autom4te.cache
/compile
/config.guess
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libpcre2-8.pc
/libpcre2-8.so
/libpcre2-16.pc
/libpcre2-16.so
/libpcre2-32.pc
/libpcre2-32.so
/libpcre2-posix.pc
/libpcre2-posix.so
/libtool
/ltmain.sh
/missing
/pcre2*-coverage*
/pcre2-config
/pcre2_dftables
/pcre2_jit_test
/pcre2demo
/pcre2fuzzcheck
/pcre2grep
/pcre2test
/progress.make
/stamp-h1
/test-driver
/test3input
/test3output
/testNinput
/testNinputgrep
/testsaved*
/teststderr
/teststderrgrep
/teststdout
/testtemp1
/testtemp1grep
/testtemp2
/testtemp2grep
/testtry
/testtrygrep
